.hero-background {
    background-size: cover;
    background: url('../images/hero-background-image.jpg') top;
    height: 100vh;
}

.search-container{
    background-color: #0D47A1;
    opacity: 0.8;
    width: 60%;
    height: 30%;
    padding-top: 50%;
}