.hero-background {
    background-size: cover;
    height: 100vh;
    padding-top: 1%;
    margin-top: auto;
    background: url("../images/hero-background-image.jpg") no-repeat fixed center;
    background-size: cover;
}

#btn-search-vehicle{
    background-color: #f39c12;
    opacity : 1;
}

#banner-text{
    font-family: 'Anton', sans-serif;
    -webkit-text-fill-color: #ecf0f1;
    font-size: 48px;
    align-content: center;
    top: 30%;
    left: 10%;
    right:10%;
    position: absolute;
    text-shadow: 1px 1px 15px black;
}

.card-button{
    margin-left: auto;
    margin-right: auto;
}

.custom-heading {
    text-align: center;
    margin: 25px auto 0;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
}